<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.game.framework.dbcache.model.GroupMapper" >
  <resultMap id="BaseResultMap" type="com.game.framework.dbcache.model.Group" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="people_number" property="peopleNumber" jdbcType="INTEGER" />
    <result column="total_contribution" property="totalContribution" jdbcType="INTEGER" />
    <result column="group_gold" property="groupGold" jdbcType="INTEGER" />
    <result column="storehouse_id" property="storehouseId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, people_number, total_contribution, group_gold, storehouse_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.game.framework.dbcache.model.GroupExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_group
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_group
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_group
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.game.framework.dbcache.model.GroupExample" >
    delete from t_group
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.game.framework.dbcache.model.Group" >
    insert into t_group (id, name, people_number, 
      total_contribution, group_gold, storehouse_id
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{peopleNumber,jdbcType=INTEGER}, 
      #{totalContribution,jdbcType=INTEGER}, #{groupGold,jdbcType=INTEGER}, #{storehouseId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.game.framework.dbcache.model.Group" >
    insert into t_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="peopleNumber != null" >
        people_number,
      </if>
      <if test="totalContribution != null" >
        total_contribution,
      </if>
      <if test="groupGold != null" >
        group_gold,
      </if>
      <if test="storehouseId != null" >
        storehouse_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="peopleNumber != null" >
        #{peopleNumber,jdbcType=INTEGER},
      </if>
      <if test="totalContribution != null" >
        #{totalContribution,jdbcType=INTEGER},
      </if>
      <if test="groupGold != null" >
        #{groupGold,jdbcType=INTEGER},
      </if>
      <if test="storehouseId != null" >
        #{storehouseId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.game.framework.dbcache.model.GroupExample" resultType="java.lang.Integer" >
    select count(*) from t_group
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_group
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.peopleNumber != null" >
        people_number = #{record.peopleNumber,jdbcType=INTEGER},
      </if>
      <if test="record.totalContribution != null" >
        total_contribution = #{record.totalContribution,jdbcType=INTEGER},
      </if>
      <if test="record.groupGold != null" >
        group_gold = #{record.groupGold,jdbcType=INTEGER},
      </if>
      <if test="record.storehouseId != null" >
        storehouse_id = #{record.storehouseId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_group
    set id = #{record.id,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      people_number = #{record.peopleNumber,jdbcType=INTEGER},
      total_contribution = #{record.totalContribution,jdbcType=INTEGER},
      group_gold = #{record.groupGold,jdbcType=INTEGER},
      storehouse_id = #{record.storehouseId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.game.framework.dbcache.model.Group" >
    update t_group
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="peopleNumber != null" >
        people_number = #{peopleNumber,jdbcType=INTEGER},
      </if>
      <if test="totalContribution != null" >
        total_contribution = #{totalContribution,jdbcType=INTEGER},
      </if>
      <if test="groupGold != null" >
        group_gold = #{groupGold,jdbcType=INTEGER},
      </if>
      <if test="storehouseId != null" >
        storehouse_id = #{storehouseId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.game.framework.dbcache.model.Group" >
    update t_group
    set name = #{name,jdbcType=VARCHAR},
      people_number = #{peopleNumber,jdbcType=INTEGER},
      total_contribution = #{totalContribution,jdbcType=INTEGER},
      group_gold = #{groupGold,jdbcType=INTEGER},
      storehouse_id = #{storehouseId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>